/* @import 'antd/lib/popconfirm/style';
@import 'antd/lib/form/style';
@import 'antd/lib/input/style';
@import 'antd/lib/button/style'; */

.modal-wrap {
  width: 100%;
  max-width: 320px;
  padding: 24px;
  background-color: white;
}

.modal-wrap > p {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #96989B;
  line-height: 20px;
}

.modal-wrap > p > span {
  cursor: pointer;
}

.item-close .ant-form-item-control-input {
  min-height: 22px;
}

.modal-error-log {
  min-height: 320px;
}

.log-wrap > span {
  color: #E24046;
  overflow-wrap: break-word;
}

.modal-wrap .ant-form-item {
  max-width: unset;
}

.healthy-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 8px;
}
.healthy-icon.healthy {
  background: #00C782;
}
.healthy-icon.inactive {
  background: #96989B;
}
.healthy-icon.unhealthy {
  background: #F4454C;
}

.unhealthy + .function-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icon-trash {
  display: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.default-card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border-radius: 2px;
  width: calc(50% - 4px);
  height: 100px;
  background-color: rgb(244, 248, 251);
}

.function-title {
  color: #181A1D;
  line-height: 22px;
  font-size: 14px;
}

.default-card-wrap .default-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.default-card-wrap .default-card .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.footer-add {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 4px;
  width: 100%;
  height: 32px;
  border: 1px dashed #C8CACD;
  border-radius: 4px;
  font-size: 12px;
}

.edit-wrap {
  visibility: hidden;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 0.2s linear;
  overflow: hidden;
}

.card-wrap:hover .edit-wrap {
  border-top: 1px dashed #DBDDE0;
  opacity: 1;
  visibility: visible;
  height: 32px;
}
.edit-wrap > .ant-btn-text {
  width: 50%;
  background-color: #F5F7FA;
}
.btn-edit, .btn-edit:hover, .btn-edit:focus {
  color: #00C782;
}
.btn-trash, .btn-trash:hover, .btn-trash:focus {
  color: #E24046;
}