.ant-form-item-label > label.ant-form-item-required::before {
  display: none!important;
}
.ant-form-item-label > label.ant-form-item-required::after {
  display: inline-block;
  margin-left: 4px;
  color: #00C782;
  font-size: 14px;
  line-height: 22px;
  content: '*';
}

.ant-form-item-label > label {
  font-size: 14px;
  color: #707275;
  line-height: 22px;
  height: 22px;
}