.modal-wrap {
  position: absolute;
  margin: 0 auto;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.modal-wrap .ant-form-item {
  max-width: unset;
}

.wrap .content .block:hover .icon-trash{
  display: unset;
}

.icon-trash {
  display: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  fill: currentColor;
}